$white: #ffffff;
$black: #000000;
$bright-ashen: #d8d8d8;
$bright-ashen-transparent: #d8d8d8a8;
$black-transparent: rgba(0, 0, 0, .8);
$bisque: #FFE4C4;
$chocolate: #D2691E;
$dim-gray: #696969;
$danger: #F8D7DA;
$burgundy: #8F444B;


