$font: Helvetica, Arial, sans-serif;
$backgroundColor: #d8d8d8;
$navBackground: rgba(0, 0, 0, .8);
$navColor: #ffffff;
$titleColor: #D2691E;
$textColor: #FFE4C4;
$shadow: 3px 3px 20px rgba(0, 0, 0, .6);